lab1(сдано)/Lab1AdoNet(сдано)/.vs
Original_ZIP
PhonesForWinApp_Backup.sql
drive-download-20231129T112916Z-001.zip
Функции.docx
lab1(сдано)/Lab1AdoNet(сдано)/Lab1AdoNet/bin
lab1(сдано)/Lab1AdoNet(сдано)/Lab1AdoNet/obj
lab1(сдано)/Lab1AdoNet(сдано)/WindowsFormsApp1/bin
lab1(сдано)/Lab1AdoNet(сдано)/WindowsFormsApp1/obj
lab1(сдано)/Lab1AdoNet(сдано)/WindowsFormsApp2/bin
lab1(сдано)/Lab1AdoNet(сдано)/WindowsFormsApp2/obj
lab1(сдано)/Lab1AdoNet(сдано)/PhonesForWinApp.bak
lab1(сдано)/Lab1AdoNet(сдано)/SQLab1.sql
lab1/Lab1AdoNet/Lab1AdoNet/bin
lab1/Lab1AdoNet/Lab1AdoNet/obj
lab1/Lab1AdoNet/.vs
lab1/Lab1AdoNet/WindowsFormsApp1/bin
lab1/Lab1AdoNet/WindowsFormsApp1/obj
lab1/Lab1AdoNet/WindowsFormsApp2/bin
lab1/Lab1AdoNet/WindowsFormsApp2/obj
lab1/Lab1AdoNet/SQLab1.sql
lab1/Lab1AdoNet/PhonesForWinApp.bak
lab2/lab2(.net)/.vs
lab2/lab2(.net)/CodeFirst/bin
lab2/lab2(.net)/CodeFirst/obj
lab2/lab2(.net)/lab2(.net)/bin
lab2/lab2(.net)/lab2(.net)/obj
lab3/Lab3NLayer/.vs
lab3/Lab3NLayer/BLL/bin
lab3/Lab3NLayer/BLL/obj
lab3/Lab3NLayer/DAL/bin
lab3/Lab3NLayer/DAL/obj
lab3/Lab3NLayer/Lab3NLayer/bin
lab3/Lab3NLayer/Lab3NLayer/obj
lab3/Lab3NLayerArch(new)
lab4/lab4/.vs
lab4/lab4/BLL/bin
lab4/lab4/BLL/obj
lab4/lab4/DAL/bin
lab4/lab4/DAL/obj
lab4/lab4/DomainModel/bin
lab4/lab4/DomainModel/obj
lab4/lab4/Interfaces/bin
lab4/lab4/Interfaces/obj
lab4/lab4/Lab3NLayer/bin
lab4/lab4/Lab3NLayer/obj
lab4/Lab4DI_CleanArch/.vs
lab4/Lab4DI_CleanArch/BLL/bin
lab4/Lab4DI_CleanArch/BLL/obj
lab4/Lab4DI_CleanArch/DAL/bin
lab4/Lab4DI_CleanArch/DAL/obj
lab4/Lab4DI_CleanArch/DomainModel/bin
lab4/Lab4DI_CleanArch/DomainModel/obj
lab4/Lab4DI_CleanArch/Interfaces/bin
lab4/Lab4DI_CleanArch/Interfaces/obj
lab4/Lab4DI_CleanArch/Lab4DI
lab5/lab4/BLL/bin
lab5/lab4/BLL/obj
lab5/lab4/DAL/bin
lab5/lab4/DAL/obj
lab5/lab4/DomainModel/bin
lab5/lab4/DomainModel/obj
lab5/lab4/Interfaces/bin
lab5/lab4/Interfaces/obj
lab5/lab4/Lab3NLayer/bin
lab5/lab4/Lab3NLayer/obj
lab5/lab4/lab5mvc/bin
lab5/lab4/lab5mvc/obj
lab5/lab4/mvc/bin
lab5/lab4/mvc/obj
lab5/lab4/packages
lab5/Lab5MVC
lab6/lab6/.vs
lab6/lab6/bin
lab6/lab6/obj
lab7/lab4/.vs
lab7/lab4/BLL/bin
lab7/lab4/BLL/obj
lab7/lab4/DAL/bin
lab7/lab4/DAL/obj
lab7/lab4/DomainModel/bin
lab7/lab4/DomainModel/obj
lab7/lab4/Interfaces/bin
lab7/lab4/Interfaces/obj
lab7/lab4/Lab3NLayer/bin
lab7/lab4/Lab3NLayer/obj
lab7/lab4/lab5mvc/bin
lab7/lab4/lab5mvc/obj
lab7/lab4/mvc/bin
lab7/lab4/mvc/obj
lab7/Lab7MongoDb/BLL/bin
lab7/Lab7MongoDb/BLL/obj
lab7/Lab7MongoDb/.vs
lab7/Lab7MongoDb/DAL/bin
lab7/Lab7MongoDb/DAL/obj
lab7/Lab7MongoDb/DomainModel/bin
lab7/Lab7MongoDb/DomainModel/obj
lab7/Lab7MongoDb/Interfaces/bin
lab7/Lab7MongoDb/Interfaces/obj
lab7/Lab7MongoDb/Lab5Mvc/bin
lab7/Lab7MongoDb/Lab5Mvc/obj
lab7/Lab7MongoDb/PhoneExampleMongoDump
lab7/Lab7MongoDb/WinFormClient/bin
lab7/Lab7MongoDb/WinFormClient/obj
lab7/Lab7MongoDb/PhoneExampleMongoDump.zip
lab8/lab4/.vs
lab8/lab4/BLL/bin
lab8/lab4/BLL/obj
lab8/lab4/DAL/bin
lab8/lab4/DAL/obj
lab8/lab4/DomainModel/bin
lab8/lab4/DomainModel/obj
lab8/lab4/Interfaces/bin
lab8/lab4/Interfaces/obj
lab8/lab4/Lab3NLayer/bin
lab8/lab4/Lab3NLayer/obj
lab8/lab4/lab5mvc/bin
lab8/lab4/lab5mvc/obj
lab8/lab4/mvc/bin
lab8/lab4/mvc/obj
lab8/lab4/TestProject/bin
lab8/lab4/TestProject/obj
lab8/TestProject1/.vs
lab8/TestProject1/obj
