@model IEnumerable<mvc.Models.OrderModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  @*id=item.Order*@  }) |
                @Html.ActionLink("Delete", "Delete", new { @*id=item.Order*@ })
            </td>
        </tr>
    }

</table>
