@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <br>Мой ИГЭУ)
        <strong>Support:</strong>   <a href="mailto:21587@gapps.ispu.ru">21587@gapps.ispu.ru</a>
        <br>KsenofontovLM
        <strong>Support:</strong>   <a href="mailto:klm.shool@mail.ru">klm.shool@mail.ru</a>
    </address>
</main>