@{
    ViewBag.Title = "Магазин  сотовых телефонов";
}

<div class="row">
    <h1>Пример приложения с паттерном MVC</h1>
</div>
<div class="row">
    <img src="~/Content/homeimage.png" width="50%" />
</div>
